.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid skyblue;
    border-radius: 5px;
    /*box-shadow: 0 2px 3px #ccc;*/
    padding: 16px;
    text-align: center;
}

.Person input[type="text"]{
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
}